In [1]:
import numpy as np

In [3]:
from pandas import Series,DataFrame
import pandas as pd

In [4]:
obj = Series([1,2,3,4])

In [5]:
obj

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
obj.values

array([1, 2, 3, 4])

In [7]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [9]:
famine_cas =Series([85000,96000,120000,45000],index=['India','China','USA','Russia'])

In [10]:
famine_cas

India      85000
China      96000
USA       120000
Russia     45000
dtype: int64

In [11]:
famine_cas['India']

85000

In [12]:
famine_cas[famine_cas>85000]

China     96000
USA      120000
dtype: int64

In [13]:
'India' in famine_cas

True

In [15]:
famine_cas_dict = famine_cas.to_dict()

In [16]:
famine_cas_dict

{'China': 96000, 'India': 85000, 'Russia': 45000, 'USA': 120000}

In [17]:
famine_cas_series = Series(famine_cas_dict)

In [18]:
famine_cas_series

China      96000
India      85000
Russia     45000
USA       120000
dtype: int64

In [24]:
countries =['India','China','USA','Russia','Argentina']
obj2 = Series(famine_cas_dict,index=countries)
obj2

India         85000
China         96000
USA          120000
Russia        45000
Argentina       NaN
dtype: float64

In [25]:
pd.isnull(obj2)

India        False
China        False
USA          False
Russia       False
Argentina     True
dtype: bool

In [26]:
pd.notnull(obj2)

India         True
China         True
USA           True
Russia        True
Argentina    False
dtype: bool

In [28]:
famine_cas_series

China      96000
India      85000
Russia     45000
USA       120000
dtype: int64

In [29]:
famine_cas_series+obj2

Argentina       NaN
China        192000
India        170000
Russia        90000
USA          240000
dtype: float64

In [30]:
obj2.name = "famine_casualities"

In [31]:
obj2

India         85000
China         96000
USA          120000
Russia        45000
Argentina       NaN
Name: famine_casualities, dtype: float64

In [32]:
obj2.index.name="countries"

In [33]:
obj2

countries
India         85000
China         96000
USA          120000
Russia        45000
Argentina       NaN
Name: famine_casualities, dtype: float64