In [19]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [20]:
import webbrowser

In [21]:
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'

In [22]:
webbrowser.open(website)

True

In [28]:
nfl_frame = pd.read_clipboard()

In [29]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Divison
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [31]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Divison'],
      dtype='object')

In [32]:
DataFrame(nfl_frame,columns=['Team','Won','Lost'])

      Team       Won      Lost
0  Chicago     Bears       741
1   Dallas   Cowboys       480
2    Green       Bay   Packers
3    Miami  Dolphins       429
4      New   England  Patriots

In [33]:
DataFrame(nfl_frame,columns=['Team','Won','Lost','Count'])

      Team       Won      Lost  Count
0  Chicago     Bears       741    NaN
1   Dallas   Cowboys       480    NaN
2    Green       Bay   Packers    NaN
3    Miami  Dolphins       429    NaN
4      New   England  Patriots    NaN

In [34]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Divison'],
      dtype='object')

In [35]:
nfl_frame.Team

0    Chicago
1     Dallas
2      Green
3      Miami
4        New
Name: Team, dtype: object

In [36]:
nfl_frame['Won']

0       Bears
1     Cowboys
2         Bay
3    Dolphins
4     England
Name: Won, dtype: object

In [37]:
nfl_frame.ix[3]

Rank              4
Team          Miami
Won        Dolphins
Lost            429
Tied            335
Pct.              4
First         0.561
NFL            1966
Season          768
Total           AFC
Games          East
Divison         NaN
Name: 3, dtype: object

In [38]:
nfl_frame['stadium']="Att_Arlington"

In [39]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Divison,stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Att_Arlington
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,Att_Arlington
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,Att_Arlington
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,Att_Arlington
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Att_Arlington

In [40]:
stadiums = Series(['Att','Levis'],index=[4,0])

In [41]:
nfl_frame['stadium']=stadiums

In [42]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Divison,stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Levis
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,NaN
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Att

In [43]:
countries = Series(['US','Canada'],index=[4,0])

In [44]:
nfl_frame['Country']=countries

In [45]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Divison,stadium,Country
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Levis,Canada
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,NaN,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,NaN,NaN
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,NaN,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Att,US

In [46]:
del nfl_frame['stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Divison,Country
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Canada
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,NaN
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,US

In [49]:
# constructing data frames from dictionaries with equal lists
my_dict = {'city':['hyderabad','delhi','mumbai','nyc'],'rank':[1,2,3,4]}
my_frame = DataFrame(my_dict)

In [50]:
my_frame

        city  rank
0  hyderabad     1
1      delhi     2
2     mumbai     3
3        nyc     4

In [51]:
#creating dataframes
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True