In [16]:
import numpy as np
from pandas import Series, DataFrame 
import pandas as pd
from n.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [5]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [8]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [9]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [11]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [17]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.570874 -1.183434 -0.164526  0.258975  1.159121
B -1.741669 -0.094010 -0.528894 -0.742375 -1.220980
D  1.923496 -1.480665  0.218754 -0.015611 -0.283170
E -0.041478 -1.587026 -0.195074 -0.116119  0.071938
F -1.728915  0.359971 -0.155799  0.778937 -0.009732

In [18]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [19]:
dframe2

       col1      col2      col3      col4      col5
A -0.570874 -1.183434 -0.164526  0.258975  1.159121
B -1.741669 -0.094010 -0.528894 -0.742375 -1.220980
C       NaN       NaN       NaN       NaN       NaN
D  1.923496 -1.480665  0.218754 -0.015611 -0.283170
E -0.041478 -1.587026 -0.195074 -0.116119  0.071938
F -1.728915  0.359971 -0.155799  0.778937 -0.009732

In [20]:
new_columns=['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.570874 -1.183434 -0.164526  0.258975  1.159121   NaN
B -1.741669 -0.094010 -0.528894 -0.742375 -1.220980   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.923496 -1.480665  0.218754 -0.015611 -0.283170   NaN
E -0.041478 -1.587026 -0.195074 -0.116119  0.071938   NaN
F -1.728915  0.359971 -0.155799  0.778937 -0.009732   NaN

In [21]:
dframe

       col1      col2      col3      col4      col5
A -0.570874 -1.183434 -0.164526  0.258975  1.159121
B -1.741669 -0.094010 -0.528894 -0.742375 -1.220980
D  1.923496 -1.480665  0.218754 -0.015611 -0.283170
E -0.041478 -1.587026 -0.195074 -0.116119  0.071938
F -1.728915  0.359971 -0.155799  0.778937 -0.009732

In [30]:
dframe_x = dframe.ix[['A','B','C','D','E','F'],new_columns]

In [31]:
dframe_x

       col1      col2      col3      col4      col5  col6
A -0.570874 -1.183434 -0.164526  0.258975  1.159121   NaN
B -1.741669 -0.094010 -0.528894 -0.742375 -1.220980   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.923496 -1.480665  0.218754 -0.015611 -0.283170   NaN
E -0.041478 -1.587026 -0.195074 -0.116119  0.071938   NaN
F -1.728915  0.359971 -0.155799  0.778937 -0.009732   NaN