In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [4]:
ser1 = Series(np.arange(4),index=['A','B','C','D'])
ser1 = 2*ser1

In [5]:
ser1

A    0
B    2
C    4
D    6
dtype: int64

In [6]:
ser1['B']

2

In [7]:
ser1[1]

2

In [9]:
ser1[0:2]

A    0
B    2
dtype: int64

In [12]:
ser1[['A','B','C']]

A    0
B    2
C    4
dtype: int64

In [13]:
ser1[ser1>2]

C    4
D    6
dtype: int64

In [14]:
ser1[ser1>3]=5

In [15]:
ser1

A    0
B    2
C    5
D    5
dtype: int64

In [16]:
dframe = DataFrame(np.arange(25).reshape((5,5)),index=['LA','NYC','DC','DAL','AUS'],columns=['A','B','C','D','E'])

In [17]:
dframe

      A   B   C   D   E
LA    0   1   2   3   4
NYC   5   6   7   8   9
DC   10  11  12  13  14
DAL  15  16  17  18  19
AUS  20  21  22  23  24

In [19]:
dframe[['A','B']]

      A   B
LA    0   1
NYC   5   6
DC   10  11
DAL  15  16
AUS  20  21

In [22]:
dframe[dframe['B']>8]

      A   B   C   D   E
DC   10  11  12  13  14
DAL  15  16  17  18  19
AUS  20  21  22  23  24

In [24]:
dframe>8

         A      B      C      D      E
LA   False  False  False  False  False
NYC  False  False  False  False   True
DC    True   True   True   True   True
DAL   True   True   True   True   True
AUS   True   True   True   True   True

In [30]:
dframe.ix['LA']

A    0
B    1
C    2
D    3
E    4
Name: LA, dtype: int64

In [26]:
dframe.ix[1]

A    5
B    6
C    7
D    8
E    9
Name: NYC, dtype: int64