In [1]:
import numpy as np
from pandas import Series,DataFrame

import pandas as pd

In [2]:
ser1 = Series(np.arange(3),index=list('ABC'))
ser1

A    0
B    1
C    2
dtype: int64

In [3]:
ser2 = Series(np.arange(4),index=list('ABCD'))
ser2

A    0
B    1
C    2
D    3
dtype: int64

In [4]:
ser1+ser2

A     0
B     2
C     4
D   NaN
dtype: float64

In [5]:
dframe1 = DataFrame(np.arange(4).reshape((2,2)),index=['LA','SF'],columns=list('AB'))
dframe1

    A  B
LA  0  1
SF  2  3

In [6]:
dframe2 = DataFrame(np.arange(9).reshape((3,3)),index=['LA','SF','DC'],columns=list('ABC'))

In [7]:
dframe2

    A  B  C
LA  0  1  2
SF  3  4  5
DC  6  7  8

In [8]:
dframe1.add(dframe2)

     A   B   C
DC NaN NaN NaN
LA   0   2 NaN
SF   5   7 NaN

In [9]:
dframe1.add(dframe2,fill_value=0)

    A  B  C
DC  6  7  8
LA  0  2  2
SF  5  7  5

In [10]:
dframe2

    A  B  C
LA  0  1  2
SF  3  4  5
DC  6  7  8

In [11]:
ser3 = dframe2.ix[0]

In [12]:
ser3

A    0
B    1
C    2
Name: LA, dtype: int64

In [13]:
dframe2-ser3

    A  B  C
LA  0  0  0
SF  3  3  3
DC  6  6  6

In [16]:
ser4=Series(np.arange(3),index=list('ABC'))

In [17]:
dframe2-ser4

    A  B  C
LA  0  0  0
SF  3  3  3
DC  6  6  6