In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser = Series(np.random.randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [3]:
ser

1  a    0.236592
   b    0.171509
   c    1.875049
2  a    0.425252
   b    0.656951
   c    0.791873
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a    0.236592
b    0.171509
c    1.875049
dtype: float64

In [6]:
#returns only the indices with a
ser[:,'a']

1    0.236592
2    0.425252
dtype: float64

In [11]:
dframe = ser.unstack()

In [12]:
dframe

          a         b         c
1  0.236592  0.171509  1.875049
2  0.425252  0.656951  0.791873

In [14]:
dframe.unstack()

a  1    0.236592
   2    0.425252
b  1    0.171509
   2    0.656951
c  1    1.875049
   2    0.791873
dtype: float64

In [18]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [19]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [20]:
dframe2.index.names = ['INDEX_1','INDEX_2']

In [22]:
dframe2.columns.names =['cities','weather']

In [23]:
dframe2

cities            NY      LA   SF
weather         cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [27]:
dframe2.swaplevel('cities','weather',axis=1)

weather         cold hot     cold
cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [28]:
dframe2.sortlevel(1)

cities            NY      LA   SF
weather         cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [29]:
dframe2.sum(level='weather',axis=1)

weather          cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27

In [30]:
dframe2.sum(level='cities',axis=1)

cities           LA  NY  SF
INDEX_1 INDEX_2
a       1         2   1   3
        2         6   9   7
b       1        10  17  11
        2        14  25  15