In [1]:
import pandas as pd

In [4]:
xlsFile = pd.ExcelFile('capbudg.xls')

In [12]:
dframe = xlsFile.parse()

In [10]:
dframe

,Equity Analysis of a Project,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,INPUT SHEET: USER ENTERS ALL BOLD NUMBERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INITIAL INVESTMENT,NaN,NaN,NaN,CASHFLOW DETAILS,NaN,NaN,NaN,DISCOUNT RATE,NaN,NaN,NaN
2,Initial Investment=,NaN,50000,NaN,Revenues in year 1=,NaN,40000.000000,NaN,Approach(1:Direct;2:CAPM)=,NaN,2.000000,NaN
3,Opportunity cost (if any)=,NaN,7484,NaN,Var. Expenses as % of Rev=,NaN,0.500000,NaN,1. Discount rate =,NaN,0.100000,NaN
4,Lifetime of the investment,NaN,10,NaN,Fixed expenses in year 1=,NaN,0.000000,NaN,2a. Beta,NaN,0.900000,NaN
5,Salvage Value at end of project=,NaN,10000,NaN,Tax rate on net income=,NaN,0.400000,NaN,b. Riskless rate=,NaN,0.080000,NaN
6,Deprec. method(1:St.line;2:DDB)=,NaN,2,NaN,If you do not have the breakdown of fixed and ...,NaN,NaN,NaN,c. Market risk premium =,NaN,0.055000,NaN
7,Tax Credit (if any )=,NaN,0.1,NaN,"expenses, input the entire expense as a % of r...",NaN,NaN,NaN,d. Debt Ratio =,NaN,0.300000,NaN
8,Other invest.(non-depreciable)=,NaN,0,NaN,NaN,NaN,NaN,NaN,e. Cost of Borrowing =,NaN,0.090000,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Discount rate used=,NaN,0.106850,NaN
10,WORKING CAPITAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Initial Investment in Work. Cap=,NaN,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Working Capital as % of Rev=,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Salvageable fraction at end=,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,GROWTH RATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,1,2.000000,3,4,5.000000,6.000000,7,8.000000,9.000000,10.000000
17,Revenues,NaN,Do not enter,0.100000,0.1,0.1,0.100000,0.000000,0,0.000000,0.000000,0.000000
18,Fixed Expenses,NaN,Do not enter,0.100000,0.1,0.1,0.100000,0.000000,0,0.000000,0.000000,0.000000
19,Default: The fixed expense growth rate is set ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,YEAR,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,0,1,2.000000,3,4,5.000000,6.000000,7,8.000000,9.000000,10.000000
22,INITIAL INVESTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Investment,50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,- Tax Credit,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Net Investment,45000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,+ Working Cap,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,+ Opp. Cost,7484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,+ Other invest.,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Initial Investment,62484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
31,SALVAGE VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Equipment,NaN,0,0.000000,0,0,0.000000,0.000000,0,0.000000,0.000000,10000.000000
33,Working Capital,NaN,0,0.000000,0,0,0.000000,0.000000,0,0.000000,0.000000,14641.000000
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,OPERATING CASHFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Lifetime Index,NaN,1,1.000000,1,1,1.000000,1.000000,1,1.000000,1.000000,1.000000
37,Revenues,NaN,40000,44000.000000,48400,53240,58564.000000,58564.000000,58564,58564.000000,58564.000000,58564.000000
38,-Var. Expenses,NaN,20000,22000.000000,24200,26620,29282.000000,29282.000000,29282,29282.000000,29282.000000,29282.000000
39,- Fixed Expenses,NaN,0,0.000000,0,0,0.000000,0.000000,0,0.000000,0.000000,0.000000
40,EBITDA,NaN,20000,22000.000000,24200,26620,29282.000000,29282.000000,29282,29282.000000,29282.000000,29282.000000
41,- Depreciation,NaN,10000,8000.000000,6400,5120,4096.000000,3276.800000,2621.44,485.760000,0.000000,0.000000
42,EBIT,NaN,10000,14000.000000,17800,21500,25186.000000,26005.200000,26660.6,28796.240000,29282.000000,29282.000000
43,-Tax,NaN,4000,5600.000000,7120,8600,10074.400000,10402.080000,10664.2,11518.496000,11712.800000,11712.800000
44,EBIT(1-t),NaN,6000,8400.000000,10680,12900,15111.600000,15603.120000,15996.3,17277.744000,17569.200000,17569.200000
45,+ Depreciation,NaN,10000,8000.000000,6400,5120,4096.000000,3276.800000,2621.44,485.760000,0.000000,0.000000
46,- ∂ Work. Cap,NaN,0,1000.000000,1100,1210,1331.000000,0.000000,0,0.000000,0.000000,0.000000
47,NATCF,-62484,16000,15400.000000,15980,16810,17876.600000,18879.920000,18617.8,17763.504000,17569.200000,17569.200000
48,Discount Factor,1,1.10685,1.225117,1.35602,1.50091,1.661284,1.838792,2.03527,2.252735,2.493440,2.759864
49,Discounted CF,-62484,14455.4,12570.228782,11784.5,11199.9,10760.713674,10267.566713,9147.58,7885.304757,7046.169109,15294.303917
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,Investment Measures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NPV =,47927.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,IRR =,0.235539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,ROC =,0.601197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,BOOK VALUE & DEPRECIATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Book Value (beginning),NaN,50000,40000.000000,32000,25600,20480.000000,16384.000000,13107.2,10485.760000,10000.000000,10000.000000
59,Depreciation,NaN,10000,8000.000000,6400,5120,4096.000000,3276.800000,2621.44,485.760000,0.000000,0.000000
60,BV(ending),50000,40000,32000.000000,25600,20480,16384.000000,13107.200000,10485.8,10000.000000,10000.000000,10000.000000