In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas import Series,DataFrame

In [23]:
dataframe1 = DataFrame({'key':['A','B','C','A','A'],'ds_1':np.arange(5)})
dataframe1

   ds_1 key
0     0   A
1     1   B
2     2   C
3     3   A
4     4   A

In [22]:
dataframe2 = DataFrame({'key':['A','B','Z'],'ds_2':[1,2,3]})

In [10]:
dataframe2

   ds_2 key
0     1   A
1     2   B
2     3   Z

In [24]:
pd.merge(dataframe1,dataframe2,on='key')

   ds_1 key  ds_2
0     0   A     1
1     3   A     1
2     4   A     1
3     1   B     2

In [25]:
pd.merge(dataframe1,dataframe2,on='key',how='left')

   ds_1 key  ds_2
0     0   A     1
1     1   B     2
2     2   C   NaN
3     3   A     1
4     4   A     1

In [27]:
pd.merge(dataframe1,dataframe2,on='key',how='right')

   ds_1 key  ds_2
0     0   A     1
1     3   A     1
2     4   A     1
3     1   B     2
4   NaN   Z     3

In [28]:
pd.merge(dataframe1,dataframe2,on='key',how='outer')

   ds_1 key  ds_2
0     0   A     1
1     3   A     1
2     4   A     1
3     1   B     2
4     2   C   NaN
5   NaN   Z     3

In [29]:
dframe3 = DataFrame({'key': ['X', 'X', 'X', 'Y', 'Z', 'Z'],
                 'data_set_3': range(6)})
dframe4 = DataFrame({'key': ['Y', 'Y', 'X', 'X', 'Z'],
                 'data_set_4': range(5)})

In [30]:
pd.merge(dframe3,dframe4)

   data_set_3 key  data_set_4
0           0   X           2
1           0   X           3
2           1   X           2
3           1   X           3
4           2   X           2
5           2   X           3
6           3   Y           0
7           3   Y           1
8           4   Z           4
9           5   Z           4

In [32]:
df_left = DataFrame({'key1': ['SF', 'SF', 'LA'],
                  'key2': ['one', 'two', 'one'],
                  'left_data': [10,20,30]})

In [33]:
df_right = DataFrame({'key1': ['SF', 'SF', 'LA', 'LA'],
                   'key2': ['one', 'one', 'one', 'two'],
                   'right_data': [40,50,60,70]})

In [35]:
pd.merge(df_left,df_right,on=['key1','key2'],how='outer')

  key1 key2  left_data  right_data
0   SF  one         10          40
1   SF  one         10          50
2   SF  two         20         NaN
3   LA  one         30          60
4   LA  two        NaN          70

In [36]:
pd.merge(df_left,df_right,on='key1',how='outer')

  key1 key2_x  left_data key2_y  right_data
0   SF    one         10    one          40
1   SF    one         10    one          50
2   SF    two         20    one          40
3   SF    two         20    one          50
4   LA    one         30    one          60
5   LA    one         30    two          70