In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import pandas.util.testing as tm; tm.N = 3

In [3]:
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [4]:
dframe

         date variable     value
0  2000-01-03        A -0.881854
1  2000-01-04        A -1.331663
2  2000-01-05        A  0.330768
3  2000-01-03        B  0.040764
4  2000-01-04        B -0.996692
5  2000-01-05        B -1.057826
6  2000-01-03        C  0.103992
7  2000-01-04        C  0.862843
8  2000-01-05        C -1.160559
9  2000-01-03        D -0.787108
10 2000-01-04        D  0.010306
11 2000-01-05        D  0.114038

In [6]:
dframe_pivot = dframe.pivot('date','variable','value')

In [7]:
dframe_pivot

variable           A         B         C         D
date
2000-01-03 -0.881854  0.040764  0.103992 -0.787108
2000-01-04 -1.331663 -0.996692  0.862843  0.010306
2000-01-05  0.330768 -1.057826 -1.160559  0.114038