In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [4]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),'dataset2':np.random.randn(5)})

In [5]:
dframe

   dataset1  dataset2 k1     k2
0 -0.999162  0.501156  X  alpha
1  1.150877  0.325080  X   beta
2 -0.474493  1.583432  Y  alpha
3  0.390541 -0.222265  Y   beta
4  0.438711 -1.441100  Z  alpha

In [9]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [10]:
group1.mean()

k1
X    0.075858
Y   -0.041976
Z    0.438711
Name: dataset1, dtype: float64

In [11]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [13]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    1.150877
    JAN   -0.474493
NY  FEB    0.390541
    JAN   -0.280225
Name: dataset1, dtype: float64

In [14]:
dframe

   dataset1  dataset2 k1     k2
0 -0.999162  0.501156  X  alpha
1  1.150877  0.325080  X   beta
2 -0.474493  1.583432  Y  alpha
3  0.390541 -0.222265  Y   beta
4  0.438711 -1.441100  Z  alpha

In [15]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.075858  0.413118
Y  -0.041976  0.680583
Z   0.438711 -1.441100

In [16]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -0.999162  0.501156
   beta   1.150877  0.325080
Y  alpha -0.474493  1.583432
   beta   0.390541 -0.222265
Z  alpha  0.438711 -1.441100

In [17]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [26]:
for name,group in dframe.groupby('k1'):
    print "this is the %s group"  %name
    print group
    print '\n'

this is the X group
   dataset1  dataset2 k1     k2
0 -0.999162  0.501156  X  alpha
1  1.150877  0.325080  X   beta


this is the Y group
   dataset1  dataset2 k1     k2
2 -0.474493  1.583432  Y  alpha
3  0.390541 -0.222265  Y   beta


this is the Z group
   dataset1  dataset2 k1     k2
4  0.438711   -1.4411  Z  alpha

In [31]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "key1=%s key2=%s" %(k1,k2)
    print group
    print '\n'

key1=X key2=alpha
   dataset1  dataset2 k1     k2
0 -0.999162  0.501156  X  alpha


key1=X key2=beta
   dataset1  dataset2 k1    k2
1  1.150877   0.32508  X  beta


key1=Y key2=alpha
   dataset1  dataset2 k1     k2
2 -0.474493  1.583432  Y  alpha


key1=Y key2=beta
   dataset1  dataset2 k1    k2
3  0.390541 -0.222265  Y  beta


key1=Z key2=alpha
   dataset1  dataset2 k1     k2
4  0.438711   -1.4411  Z  alpha

In [35]:
group_dict = dict(list(dframe.groupby('k2')))

In [36]:
group_dict['alpha']

   dataset1  dataset2 k1     k2
0 -0.999162  0.501156  X  alpha
2 -0.474493  1.583432  Y  alpha
4  0.438711 -1.441100  Z  alpha

In [37]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -0.999162  0.501156
 1  1.150877  0.325080
 2 -0.474493  1.583432
 3  0.390541 -0.222265
 4  0.438711 -1.441100, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [39]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]

dataset2_group.mean()

          dataset2
k1 k2
X  alpha  0.501156
   beta   0.325080
Y  alpha  1.583432
   beta  -0.222265
Z  alpha -1.441100